body{
  background-color: aqua;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tacheToSave{
  display: flex;
  border : 1px solid blue;
  
}
.checkboxTache
{
  text-decoration-line: line-through;
}